/* Default Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html, .projects-html, .about-html {
    font-size: 62.5%;
}

.index-html {
    background: linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(./desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.projects-html, .contact-html {
    background: linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(./projects.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-html{
    background: linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(./about2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* End of Default Styles */

/* Container */
.container, .project-container, .about-container {
    width: 100%;
    height: 100%;
}
/* End of Container */

/* Navigation */
.menu-icon, .about-menu-icon {
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    z-index: 200;
}

.line {
    width: 3rem;
    height: .2rem;
    background-color: #eee;
}

.navigation {
    position: fixed;
    top: -8rem;
    right: -63rem;
    width: 50rem;
    height: 100vh;
    background-color: #31363d;
    z-index: 100;
    display: flex;
    align-items: center;
    padding-left: 8rem;
    transform: rotateZ(-15deg);
    transition: all 0.4s;
}

.change .navigation {
    top: 0;
    right: 0;
    transform: rotateZ(0);
}

.navigation .section-border {
    opacity: 0;
    visibility: hidden;
}

.change .navigation .section-border {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s 0.5s;
}

.nav-items {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.change .nav-items {
    opacity: 1;
    visibility: visible;
    transition: all .5s .5s; 
}

.nav-items a {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #eee;
    margin: 1rem 0;
}

.nav-items a:hover{
    color: #29a587;
}
/* End of Navigation */

/* Landing */
.landing {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section-bg-heading {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12rem;
    width: 100%;
    text-align: center;
    color: #bbb;
    opacity: 0.3;
}

.logo img {
    position: absolute;
    top: 2rem;
    left: 3rem;
    height: 8rem;
    width: 10rem;
    background-color: #bbb;
    border-radius: 50%;
    opacity: 0.8;
}

.banner {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
}

.section-border {
    width: .3rem;
    height: 55rem;
    background-color: #bbb;
    margin-right: 10rem;
    position: relative;
}

.section-border::before {
    content: "";
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid #bbb;
    background-color: #1d222a;
    border-radius: 50%;
    position: absolute;
    left: -1.65rem;
    top: -3rem;
}

.section-border::after {
    content: "";
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid #bbb;
    background-color: #1d222a;
    border-radius: 50%;
    position: absolute;
    left: -1.65rem;
    bottom: -3rem;
}

.developer-info {
    margin-right: 15rem;
}

.greeting {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #29a587;
    letter-spacing: 0.1rem;
}

.greeting span {
    color: #fff;
}

.name {
    font-size: 10rem;
    width: 60rem;
    margin: 4rem 0 2rem 0;
    color: #fff;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
}

.name span {
    color: #fff;
}

.prof {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #29a587;
    letter-spacing: .2rem;
    margin-bottom: 6rem;
}

.prof span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 1.2rem;
}

.about {
    width: 60rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    line-height: 1;
    color: #fff;
    margin-bottom: 5rem;
}

.social-media {
    margin-bottom: 5rem;
}

.social-media i {
    font-size: 2.5rem;
    color: #fff;
    margin-right: 2rem;
    text-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
/* End of Landing */



/* **************** Projects *************** */

#projectsH1 {
    font-size: 5rem;
    color: #bbb;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5rem;
    font-family: 'Courier New', Courier, monospace;
}

.projectLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-decoration: none;
    font-size: 3rem;
}

#digitalClockLink {
    padding: 0.75rem;
    border: 0.2rem solid #29a587;
    color: #fff;
    margin-right: 5rem;
    border-radius: 0.85rem;
}

#RockVolleyballLink {
    padding: 0.75rem;
    border: 0.2rem solid #29a587;
    color: #fff;
    border-radius: 0.85rem;
}


/* **************** About Page *************** */

.greetingAbout {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 0.1rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
  }
  
  .greetingAbout span {
    color: #29a587;
    padding-left: 1rem;
  }
  
  .AboutMeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .aboutMePage {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 1.3rem;
  }

/* **************** Contact Page *************** */

.contact-landing {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* .contact-landing h1 {
    margin-top: 10rem;
    font-size: 8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4rem;
    color: #bbb;
} */

.contact-landing p {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    width: 60rem;
    line-height: 1.5;
    color: #fff;
}

.contact-landing form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
/* 
.contact-landing label {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 60rem;
    color: #29a587;
} */

.contact-landing input[type="text"],
.contact-landing input[type="email"],
.contact-landing textarea {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid #29a587;
    margin-bottom: 2rem;
    width: 60rem;
    background-color: transparent;
    color: #fff;
}

.contact-landing input[type="text"]::placeholder,
.contact-landing input[type="email"]::placeholder,
.contact-landing textarea::placeholder {
    color: #bbb;
}


.contact-landing textarea {
    height: 20rem;
}

.contact-landing button[type="submit"] {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #29a587;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-landing button[type="submit"]:hover {
    background-color: #1d222a;
}

.contact-landing .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.contact-landing .social-media a {
    font-size: 3.5rem;
    color: #fff;
    margin: 0 2rem;
    text-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.contact-landing .social-media a:hover {
    color: #29a587;
}